#config_opts['basedir'] = '/dev/shm/' + pwd.getpwuid( int(os.environ['USERHELPER_UID']) ).pw_name + '/mock'
config_opts['basedir'] = '/dev/shm/mock'
#config_opts['cache_topdir'] =  pwd.getpwuid( int(os.environ['USERHELPER_UID']) ).pw_dir +'/tmp/mock/cache'
config_opts['cache_topdir'] = '/var/cache/mock'

config_opts['plugin_conf']['root_cache_enable'] = False
config_opts['plugin_conf']['ccache_enable'] = True
config_opts['plugin_conf']['yum_cache_enable'] = True
config_opts['plugin_conf']['yum_cache_opts']['dir'] = "%(cache_topdir)s/yum_cache/"

config_opts['macros']['%dist'] = '%(/usr/lib/rpm/redhat/dist.sh)'
config_opts['macros']['%packager'] = mockbuild.util.do(env={'HOME':pwd.getpwuid( int(os.environ['USERHELPER_UID']) ).pw_dir}, command=['rpm','-E%packager'],returnOutput=1)

abt_pkgName=[e.replace('%abt_pkgName','').strip() for e in options.rpmmacros if e.find('%abt_pkgName')==0]
config_opts['resultdir'] =  pwd.getpwuid( int(os.environ['USERHELPER_UID']) ).pw_dir +'/tmp/mock/%(root)s/results'
